# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

# Checkpoints
checkpoints/
checkpoints_*/
*.pt
*.pth
*.ckpt

# wandb
wandb/

# Logs
*.log

# Environment
.venv/
venv/
.env

# Editor
.vscode/
.idea/
*.swp
.DS_Store
